/* Styles for the CSC309A React component */
.course_header {
    margin-top: 12px;
    margin-bottom: 20px;
}

.chat_room_container {
    margin-left: 1vw;
    width: 75vw;
    float: left;
}

.chat_room_messages {
    height: 68vh;
}

.emoji_selector {
    float: left;
}

.chat_bar {
    margin-left: 60px;
}

.course_secondary_column {
    margin-left: 80vw;
    margin-right: 3vw;
}

.resources_button {
    width: 100%;
    height: 100px;
}

.resources_button_text {
    margin-top: 26px;
    line-height: 20px;
    font-size: 26px;
}

.announcements_container {
    margin-top: 50px;
}

.resources_header_text {
    font-size: 24px;
}

.inline {
    float: left;
}
