/* Styles for the coursepage React component */


.course_header {
    margin-top: 12px;
    margin-bottom: 20px;
}

.chat_room_container {
    margin-left: 1vw;
    width: 75vw;
    float: left;
}

.chat_room_messages {
    overflow: auto;
    scroll-behavior: smooth;
    height: 68vh;
}

.emoji_selector {
    float: left;
}

.chat_bar {
    margin-left: 60px;
}

.course_secondary_column {
    margin-left: 80vw;
    margin-right: 3vw;
}

.resources_button {
    width: 100%;
    height: 100px;
}

.resources_button_text {
    margin-top: 26px;
    line-height: 20px;
    font-size: 26px;
}

.post_announcements_button_container {
    margin-top: 20px;
}

.post_announcements_button {
    height: 80px;
    width: 100%;
}

.post_announcements_button_text {
    line-height: 20px;
    font-size: 22px;
}

.announcements_container {
    margin-top: 20px;
}

.announcement_content {
    max-height: 26vh;
    overflow: auto;
    scroll-behavior: smooth;
}


.inline {
    float: left;
}

p {
    word-break: break-all;
    white-space: normal;
}

span {
    word-break: break-all;
    white-space: normal;
}