/* Styles for the Dash Board React component */


.dashboard_header {
    position: relative;
    left: -4vh;
    font-size: 50px;
}

.add_course_button {
    height: 60px;
    width: 60px;
}

.courses_container {
    margin-left: 5%;
    margin-right: 5%;
}

.add_course_container {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 500px
}
