/* Styles for the Home React component */
.sign_up_box_container {
    width: 50%;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
}

.home_page_container {
    background-image: url("/background.jpg");
    background-position: center;
    background-size: cover;
}

.info_container {
     width: 90%;
     margin: 4vh auto 50px;
 }

.info_container1 {
    width: 50%;
    margin: 4vh auto 4vh;
}


.signup_prompt {
    position: fixed;
    bottom: 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: antiquewhite;
    z-index: 999;
}

.user_type_icon_container{
    background: lightsteelblue;
    display: inline-block;

    vertical-align: middle;
    line-height: 200px;
    width: 100px;
    text-align: center;
    float: left;
}

.user_description_container {
    display: block;
    height: 200px;
    margin-left: 120px;
}

.fontsize {
    font-size: large;
}

body {
    font-family: 'Arial', sans-serif;
}